################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
obj/
bin/
StyleExamples/StyleExamples/bin/
StyleExamples/StyleExamples/obj/

