################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

QAIMS4901/QAIMS4